.section-projects__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 1223px;
    color: white;
}

.section-projects__title{
    width: 100%;
    align-items: flex-start;
    font-size: 60px;
    font-family: "Syne", sans-serif;
}


@media screen and (max-width: 1326px){

    .section-projects__container{
        width: 900px;
    }
    
    .section-projects__title{
        font-size: 48px;
    }
}


@media screen and (max-width: 980px){

    .section-projects__container{
        width: 600px;
    }

    .section-projects__title{
        font-size: 36px;
    }
}


@media screen and (max-width: 680px){
    .section-projects__container{
        width: 260px;
    }

    .section-projects__title{
        font-size: 24px;
    }
}