.project-card__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.project-card__image-container{
    border: 2px #42799d solid;
    border-radius: 8px;
    height: 350px;
    width: 650px;
    overflow: hidden;
    margin-bottom: 10px;
}

.project-image{
    width: 100%;
    height: 100%;
    
}

.project-card__project-name{
    font-size: 20px;
    font-weight: 600;
}


.project-card__links-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-card__link{
    text-decoration: none;
    color: black;
    font-size: 18px;
}