.project-card__container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-projects__project-cards{
    max-width: 1223px;
}

.project-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 320px;
    gap: 40px;
    border: 0 solid;
    background-color: #183045;
    border-radius: 20px;
    padding: 24px;
}

.project-card__img-container{
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.project-card__img-container img{
    width: 100%;
    height: 100%;
}

.project-card__content{
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.project-card__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-card__title{
    font-size: 48px;
}

.project-card__links{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.project-card__icon{
    font-size: 36px;
    color: white;
}

.project-card__description{
    max-width: 634px;
    color: #bbc2c8;
    text-align: justify;
}

.project-card__coding-language-container{
    display: flex;
    flex-direction: row;
    gap: 16px;

}

.project-card__coding-language{
    font-family: "Kumbh Sans", sans-serif;
    background-color: #2e4355;
    padding: 6px 12px 6px 12px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
}


@media screen and (max-width: 1326px){

    .project-card{
        height: 250px;
    }

    .section-projects__project-cards{
        max-width: 900px;
    }

    .project-card__title{
        font-size: 36px;
    }

    .project-card__img-container{
        display: flex;
        align-items: center;
    }

    .project-card__icon{
        font-size: 24px;
    }

    .project-card__description{
        font-size: 14px;
    }

    .project-card__coding-language{
        font-size: 12px;
    }
}


@media screen and (max-width: 980px){
    .project-card{
        flex-direction: column-reverse;
        height: 100%;
        align-items: center;
    }
}