.education-section__title{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.education-section__education{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 5px;
}
