.contact-form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact-form__user{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 25px;
}

.contact-form__subtitles{
    font-size: 20px;
    color: #a9c1da;
    margin: 0 0 8px 0;
}

.contact-form__form{
    display: flex;
    flex-direction: column;
}

.contact-form__user-input{
    height: 45px;
    width: 100% ;
    font-size: 20px;
    border: 2px solid #a9c6de;
    border-radius: 8px;
    padding: 10px 14px;
    background-color: #0a203b;
    color: #a9c6de;
}

.message{
    height: 120px;
}

.contact-form__button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-form__button{
    height: 50px;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    color: #a9c6de;
    border: 2px solid#a9c6de;
    border-radius: 8px;
    background-color: #0a203b;
}