.header__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url("./header-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    padding: 0 60px;
    gap: 18px;
    border-bottom: #295575 solid 2px;
}

.header__title{
    display: flex;
    flex-direction: column;
    color: white;
}

.header__title-name{
    font-size: 60px;
}

.header__subtitle{
    font-size: 40px;
    font-weight: 400;
    width: 100%;
}

.header__introduction{
    font-size: 20px;
    max-width: 310px;
    color: white;
}

.header__button{
    font-size: 18px;
    width: 150px;
    height: 40px;
    color: white;
    background-color: #4673c1;
    border-color: transparent;
    border-radius: 6px;
    padding: 5px 0;
    cursor: pointer;
}