.section-contact__container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1223px;
}

.section-contact__title{
    font-size: 60px;
    font-family: "Syne", sans-serif;
    color: white;
    align-items: flex-start;
}

.section-conctact__form-container{
    border: 2px solid #a9c6de;
    border-radius: 8px;
    padding: 40px;
}