.section-contact__container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1223px;
}

.section-contact__title{
    font-size: 60px;
    font-family: "Syne", sans-serif;
    color: white;
    align-items: flex-start;
}

.section-conctact__form-container{
    border: 2px solid #a9c6de;
    border-radius: 8px;
    padding: 40px;
}


@media screen and (max-width: 1326px){

    .section-contact__container{
        width: 900px;
    }

    .section-contact__title{
        font-size: 48px;
    }
}

@media screen and (max-width: 980px){

    .section-contact__container{
        width: 600px;
    }

    .section-contact__title{
        font-size: 36px;
    }
}

@media screen and (max-width: 680px){
    .section-contact__container{
        width: 300px;
    }

    .section-contact__title{
        font-size: 24px;
    }

    .section-conctact__form-container{
        padding: 20px;
    }
}

@media screen and (max-width: 380px){
    .section-contact__container{
        width: 260px;
    }
}