.home-screen__container{
    background-color: #08233b;
    height: 100%;
    width: 100%;
}

.home-screen__section-about-me{
    width: 100%;
    height: 100%;
}

.section-projects{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 110px 0 0 0;
}