.home-screen__container{
    background-color: #08233b;
    height: 100%;
    width: 100%;
}

.home-screen__navbar{
    display: flex;
    justify-content: center;
    width: 100%;
}

.home-screen__section-home{
    width: 100%;
    height: 100%;
}

.home-screen__section-projects{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 110px 0 0 0;
}

.home-screen__section-about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 0 50px 0px;
    width: 100%;
}

.home-screen__section-contact{
    display: flex;
    justify-content: center;
    padding: 110px 0 40px 0;
    width: 100%;
}
